<ul class="record_actions">
    <li>
        <a class="cssButton" href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">
            Voltar para a lista
        </a>
    </li>
{% if ('edit' in actions) and (not hide_edit) %}
    <li>
        <a class="cssButton" href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}">
            Editar
        </a>
    </li>
{% endif %}
{% if ('delete' in actions) and (not hide_delete) %}
    <li>
        <form action="{{ "{{ path('" ~ route_name_prefix ~ "_delete', { 'id': entity.id }) }}" }}" method="post">            
            {{ '{{ form_widget(delete_form) }}' }}
            <button class="cssButton red" type="submit">Deletar</button>
        </form>
    </li>
{% endif %}
</ul>
