{% extends 'CrudforgeBundle::admin.html.twig' %}
{% block body %}
<h2>Schemas</h2>

<ul class="ulButtons">
    <li>
        <a class="cssButton" href="{{ path('document_new') }}">
            Novo Schema
        </a>
    </li>
</ul>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Schema</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('document_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>
                <ul class="ulButtons">
                    <!-- <li>
                        <a class="cssButton" href="{{ path('document_show', { 'id': entity.id }) }}">show</a>
                    </li> -->
                    <li>
                        <a class="cssButton" href="{{ path('document_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                    <li>
                        <a class="cssButton" href="{{ path('fields_list', { 'document_id': entity.id }) }}">ver campos</a>
                    </li>
                    <li>
                        <a class="cssButton" href="{{ path('generate_crud', { 'id': entity.id }) }}">gerar CRUD</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}