{% extends 'CrudforgeBundle::admin.html.twig' %}
{% block body %}
<h2>Schema</h2>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td>{{ entity.name }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a class="cssButton" href="{{ path('document') }}">
            Voltar para a lista
        </a>
    </li>
    <li>
        <a class="cssButton" href="{{ path('document_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('document_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="cssButton red" type="submit">Deletar</button>
        </form>
    </li>
</ul>
{% endblock %}