{% extends 'CrudforgeBundle::admin.html.twig' %}
{% block body %}
<h2>{{ document.name }} - Compartilhamentos</h2>
<ul class="ulButtons">
    <li>
        <a class="cssButton" href="{{ path('shares_new', { 'document_id': document.id }) }}">
            Convidar alguem
        </a>
    </li>    
</ul>
<table class="records_list">
    <thead>
        <tr>
            <th>e-mail</th>
            <th>ativo</th>
            <th>visualizar</th>
            <th>editar</th>
            <th>cadastrar</th>
            <th>deletar</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.email }}</td>
            <td><span class="{% if entity.usershared %}ui-icon ui-icon-circle-check{% endif %}"></span></td>
            <td><span class="{% if entity.viewperm %}ui-icon ui-icon-circle-check{% endif %}"></span></td>
            <td><span class="{% if entity.editperm %}ui-icon ui-icon-circle-check{% endif %}"></span></td>
            <td><span class="{% if entity.createperm %}ui-icon ui-icon-circle-check{% endif %}"></span></td>
            <td><span class="{% if entity.deleteperm %}ui-icon ui-icon-circle-check{% endif %}"></span></td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('shares_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                    <li>
                        <a href="{{ path('shares_accept', { 'id': entity.id }) }}">ativar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <!-- <li>
        <a href="{{ path('shares_new', { 'document_id': document.id }) }}">
            Convidar alguem
        </a>
    </li> -->    
</ul>

<br />
<br />
<ul>Dica:
    <li>Para ativar um usuário o mesmo deve estar cadastrado no sistema</li>
    <li>Após alterar as permissões de um usuário, clique em 'ativar' para atualizar as permissões do compartilhamento</li>
</ul>
{% endblock %}
