<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CRUDForge{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/crudforge/css/jquery-ui-1.10.3.custom.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/crudforge/css/crudforge.css') }}" />
    </head>
    <body>
        <h1 class="logo"><a href="/schemas" style="text-decoration:none;">CRUDForge</a></h1>

        <div id="main-menu">
        {% block mainmenu %}
            {% block menu %}
            {% endblock %}
            <!-- <li>
                <a href="#">Admin</a>
                <ul> -->
                    <li><a href="{{ path('schemas') }}">Definição de Schemas</a></li>
                    {% if app.user.username == 'admin' %}
                    <li><a href="{{ path('users') }}">Usuários</a></li>
                    {% endif %}                    
           <!--     </ul>
            </li> -->
        {% endblock %}
        </div>

        <div id="side-bar">
        {% block sidebar %}
        <div id="accordion">
          <h3>CRUDs</h3>
          <div>
              {% block mydocs %}
                  {% render url('document_menu') %}
              {% endblock %}
          </div>
        </div>
        {% endblock %}
        </div>

        <div id="main-crud">
        {% block body %}{% endblock %}
        </div>

        <script src="{{ asset('bundles/crudforge/js/jquery-2.0.3.min.js') }}"></script>
        <script src="{{ asset('bundles/crudforge/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
        <script src="{{ asset('bundles/crudforge/js/angular-1.0.7.min.js') }}"></script>
        <script src="{{ asset('bundles/crudforge/js/crudforge.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
