<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CRUDForge - Make SOLID Data{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Plataforma para gestão de dados colaborativa e extensível de alto nível">
        <meta name="keywords" content="scaffold,scaffolding,crud,maker,soa,dados,php,share,compartilhar,data">
        <meta name="author" content="Wagner Pinheiro">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- <link rel="stylesheet" href="{{ asset('bundles/crudforge/css/jquery-ui-1.10.3.custom.min.css') }}" /> -->
        <link rel="stylesheet" href="{{ asset('bundles/crudforge/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/crudforge/css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/crudforge/css/signin.css') }}" />
        <!-- <link rel="stylesheet" href="{{ asset('bundles/crudforge/css/crudforge.css') }}" /> -->
    </head>
    <body>
      
      <div class="container">
          
        <form action="{{ path('login_check') }}" method="post" class="form-signin" role="form">
            <h2 class="form-signin-heading">CRUDForge</h2>
            
            <input type="text" id="username" name="_username" class="form-control" placeholder="usuário" required autofocus/>
            <br />
            <input type="password" id="password" name="_password"  class="form-control" placeholder="senha" required/>

            <input type="hidden" name="_target_path" value="/home" />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
            <br />
            {% if error %}
            <div  class="alert alert-danger">{{ error.message }}</div>
            {% endif %}
        </form>
        
        
        </div> <!-- /container -->    
        
        <script src="{{ asset('bundles/crudforge/js/jquery-2.0.3.min.js') }}"></script>
        <script src="{{ asset('bundles/crudforge/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
        <script src="{{ asset('bundles/crudforge/js/angular-1.0.7.min.js') }}"></script>
        <script src="{{ asset('bundles/crudforge/js/crudforge.js') }}"></script>
        <script src="{{ asset('bundles/crudforge/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}            
    </body>
</html>
