{{ "{% extends 'CrudforgeBundle::user.html.twig' %}" }}
{{ "{% block body %}" }}
<h2>{{"{{ document.name }}" }} - Novo</h2>

<form action="{{ "{{ path('"~ route_name_prefix ~"_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
    {{ "{{ form_widget(form) }}" }}
    <p>
        <button class="cssButton" type="submit">salvar</button>
    </p>
</form>

{% set hide_edit, hide_delete = true, true %}
{% include 'views/others/record_actions.html.twig' %}
{{ "{% endblock %}" }}