{% extends 'CrudforgeBundle::admin.html.twig' %}
{% block body %}
<h1>Schema {{ document.name }}</h1>
<ul class="ulButtons">
    <li>
        <a class="cssButton" href="{{ path('fields_new', { 'document_id': document.id }) }}">
            Novo Campo
        </a>
    </li>
    <li>
        <a class="cssButton" href="{{ path('generate_crud', { 'id': document.id }) }}">gerar CRUD</a>
    </li>
</ul>
<table class="records_list">
    <thead>
        <tr>
            <th>Campo</th>
            <th>Tipo</th>
            <th>Tamanho</th>
            <th>Decimais</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.type }}</td>
            <td>{{ entity.length }}</td>
            <td>{{ entity.scale }}</td>
            <td>
                <ul class="ulButtons">
                    <li>
                        <a class="cssButton" href="{{ path('fields_show', { 'id': entity.id }) }}">detalhar</a>
                    </li>
                    <li>
                        <a class="cssButton" href="{{ path('fields_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}