<h1>Fields list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Document</th>
            <th>Name</th>
            <th>Type</th>
            <th>Length</th>
            <th>Scale</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('fields_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.document }}</td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.type }}</td>
            <td>{{ entity.length }}</td>
            <td>{{ entity.scale }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('fields_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('fields_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('fields_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
