{% extends 'CrudforgeBundle::admin.html.twig' %}
{% block body %}
<h2>Campo {{ entity.name }}</h2>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Schema</th>
            <td>{{ entity.document }}</td>
        </tr>
        <tr>
            <th>Campo</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Tipo</th>
            <td>{{ entity.type }}</td>
        </tr>
        <tr>
            <th>Tamanho</th>
            <td>{{ entity.length }}</td>
        </tr>
        <tr>
            <th>Decimais</th>
            <td>{{ entity.scale }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a class="cssButton" href="{{ path('fields_list', { 'document_id': entity.document.id }) }}">
            voltar
        </a>
    </li>
    <li>
        <a class="cssButton" href="{{ path('fields_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('fields_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="cssButton" type="submit">Deletar</button>
        </form>
    </li>
</ul>
{% endblock %}